.card2{
    width: 397px;
    margin-left: 480px;
    margin-top: 100px;
    border-radius: 4px 4px;
    box-shadow: 4px 4px 4px black;
 
}

.fff{
    margin-left: 1200px;
    margin-top: -200px;
}

.fox{
    margin-left: 1200px; 
    margin-top: -90px;
}

.mega1{
    margin-left: 120px;
    
}

.fff12{
    width: 170px;
    margin-left: 120px;
}

.payment{
    margin-left: 480px;
    margin-top: 100px;
    border-radius: 2px 2px;
    width: 340px;
}

.sub12{
    width: 170px;
    margin-left: 120px;
}

.whatspp{
    margin-left: 480px;
    margin-top: -90px;
    border-radius: 3px 3px;
    border-style:  groove;
    width: 404px;
}